.soccer{
    float:left;
    Height:100px;
    width:100px;
}
header{
    background-color:#097AFF;
}
header h1{
    padding-bottom:40px;
    text-align: center;
    font-size:50px;
    margin-top:0px;
    margin-bottom: 10px;
    color:#6ee66e;
}
body{
    background-color:#09E833;
}
ul.menu {
	list-style: none;
	margin : 0;
	padding: 0;
}

ul.menu li a {
	float: left;
	color: #0058ff;
    font-size: 25px;
	padding: .2em 1em;
	text-decoration: none;
	border-right: 1px solid #4c6c73
}

ul.menu li a:hover {
	color: #262621;
}

.aboutTyler{
    padding-left:25px;
    padding-top:25px;
}
.me{
    font-size: 20px;
    padding-left:20px;
    color:rgba(5, 63, 142, 0.76);
}

